In [1]:
import pandas as pd
import numpy as np
import difflib

In [2]:
## Construct category list
#program_f = pd.read_csv('handson_data/handson_program.csv')
cats = ['Assistance and Support for Elderly',
        'Disaster & Emergency Services',
        'Education and Empowerment for Children and Youth',
        'Empowerment and Support for Domestic and Migrant Workers', 
        'Environmental Conservation',
        'Education and Empowerment for Refugees and Asylum Seekers',
        'Health and Wellness',
        'Hunger & Homelessness', 
        'Support for Homeless People',
        'Adult Education',
        'International Service',
        'Internships & Employment',
        'Justice & Legal Services',
        'Refugee & Asylum Seekers Services',
        'Schools',
        'Sports & Recreation',
        'Technology',
        'Family Services',
        'Arts & Culture',
        'Civic & Community']
print(len(cats))
cats_abbr = ['interest_elderly','interest_disaster','interest_education_young',
             'interest_worker','interest_environment','interest_education_refugee',
             'interest_health','interest_hunger','interest_homeless',
             'interest_education_adult','interest_international','interest_internship',
             'interest_justice','interest_refugee','interest_school','interest_sports',
             'interest_tech','interest_family','interest_arts','interest_civic']
cats_dict = {cats_abbr[i]:cats[i] for i in range(len(cats))}

20

In [3]:
cats_dict

{'interest_elderly': 'Assistance and Support for Elderly',
 'interest_disaster': 'Disaster & Emergency Services',
 'interest_education_young': 'Education and Empowerment for Children and Youth',
 'interest_worker': 'Empowerment and Support for Domestic and Migrant Workers',
 'interest_environment': 'Environmental Conservation',
 'interest_education_refugee': 'Education and Empowerment for Refugees and Asylum Seekers',
 'interest_health': 'Health and Wellness',
 'interest_hunger': 'Hunger & Homelessness',
 'interest_homeless': 'Support for Homeless People',
 'interest_education_adult': 'Adult Education',
 'interest_international': 'International Service',
 'interest_internship': 'Internships & Employment',
 'interest_justice': 'Justice & Legal Services',
 'interest_refugee': 'Refugee & Asylum Seekers Services',
 'interest_school': 'Schools',
 'interest_sports': 'Sports & Recreation',
 'interest_tech': 'Technology',
 'interest_family': 'Family Services',
 'interest_arts': 'Arts & Culture',
 'interest_civic': 'Civic & Community'}

In [4]:
## construct skill set
skills = ['Accounting / finance',
          'Administrative/general office support',
          'Communications and marketing',
          'Fundraising',
          'Gardening',
          'Graphic design',
          'Health / medical',
          'Event management',
          'Human resources',
          'IT',
          'Legal',
          'Photography',
          'Project management',
          'Teaching/Training/Fine arts',
          'Teaching/Training/Fitness/sports',
          'Teaching/Training/Music/drama',
          'Teaching/Training/Health',
          'Teaching/Training/IT',
          'Translation',
          'Videography']
print(len(skills))

20

In [41]:
## Construct feature map for user
feature = ['gender_female','gender_male',
           'employment_pt','employment_ft','employment_retired','employment_others',
           'hours_served_total','hours_served_oppo','oppo_cat',
           'interest_elderly','interest_disaster','interest_education_young',
           'interest_worker','interest_environment','interest_education_refugee',
           'interest_health','interest_hunger','interest_homeless',
           'interest_education_adult','interest_international','interest_internship',
           'interest_justice','interest_refugee','interest_school','interest_sports',
           'interest_tech','interest_family','interest_arts','interest_civic']
print(len(feature))

29

In [6]:
## Import user & program data
user_f = pd.read_csv('handson_data/dummy_volunteer_profile.csv')
program_f = pd.read_csv('handson_data/handson_program.csv')

In [7]:
## Map between event name and cat
program_cat_match = program_f[['impact_area','opportunity_name']]
program_cat_match = program_cat_match.dropna(how='all')
program_cat_match = program_cat_match.drop_duplicates()
program_cat_match

,impact_area,opportunity_name
0,Environmental Conservation,Serve-A-Thon: Soap Recycling 1:30 p.m. session...
2,Environmental Conservation,Serve-A-Thon: Soap Recycling 10 a.m. session (...
4,Hunger & Homelessness,Serve-A-Thon: Deliver Daily Necessities to Hom...
6,Environmental Conservation,Serve-A-Thon: Help with sorting donated goods ...
13,Hunger & Homelessness,Youth Opportunity: Collect Bread for Redistrib...
...,...,...
462,Hunger & Homelessness,Youth Empowered Opportunity: Collect Bread for...
468,Education and Empowerment for Children and Youth,Youth Empowered Info Session: Providing suppor...
469,Environmental Conservation,Youth Empowered Opportunity: Info Session on R...
470,Education and Empowerment for Children and Youth,Youth Empowered Info Session: Be a 'Blind Budd...
472,Education and Empowerment for Children and Youth,Youth Empowered Info Session: Help a child wit...

In [8]:
## Turn map to dict
program_cat_match_dict = program_cat_match.set_index('opportunity_name').T.to_dict('list')

<ipython-input-8-8fef1c2c1726>:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  program_cat_match_dict = program_cat_match.set_index('opportunity_name').T.to_dict('list')

In [30]:
## Construct feature matrix from user data
user_matrix_id = user_f.connection_id
user_matrix_gender_female = user_f.gender.str.contains('Female')
user_matrix_gender_male = user_f.gender.str.contains('Male')
user_matrix_employment_pt = user_f.employment_status.str.contains('Part Time')
user_matrix_employment_ft = user_f.employment_status.str.contains('Full Time')
user_matrix_employment_retired = user_f.employment_status.str.contains('Retired')
d = {'Other': True, 'Not Employed': True, 'Full Time': False, 'Part Time': False}
user_matrix_employment_others = user_f.employment_status.map(d)
user_matrix_employment_others = user_matrix_employment_others.fillna(True)
user_matrix_hours_served_total = user_f.hours_served_all
user_matrix_hours_served_oppo = user_f.hours_served_opportunity
user_matrix_oppo_cat = user_f.opportunity_name.map(program_cat_match_dict).rename('oppo_cat')

In [31]:
## Construct feature matrix from user interest
for cat_abbr in cats_abbr:
    tmp_pdseries = user_f.interest_list.str.contains(cats_dict[cat_abbr])
    tmp_pdseries = tmp_pdseries.fillna(False)
    vars()['user_matrix_'+cat_abbr] = tmp_pdseries

In [34]:
## Build feature matrix for user
user_matrix = pd.DataFrame(user_matrix_id)
for attr in feature:
    user_matrix = pd.concat([user_matrix,vars()['user_matrix_'+attr]],axis=1)
    
user_matrix = user_matrix.replace({True: 1, False: 0})

In [38]:
user_matrix

,connection_id,gender,gender,employment_status,employment_status,employment_status,employment_status,hours_served_all,hours_served_opportunity,oppo_cat,...,interest_list,interest_list,interest_list,interest_list,interest_list,interest_list,interest_list,interest_list,interest_list,interest_list
0,CO-095401,1,0,0.0,0.0,0.0,1,25.24,1.50,NaN,...,0,0,0,0,0,0,0,0,0,0
1,CO-095078,1,0,0.0,0.0,0.0,1,25.24,1.50,NaN,...,0,0,0,0,0,0,0,0,0,0
2,CO-093654,1,0,0.0,0.0,0.0,1,25.24,1.50,NaN,...,0,0,0,0,0,0,0,0,0,0
3,CO-095194,1,0,0.0,0.0,1.0,1,13.76,2.00,NaN,...,0,1,0,0,0,0,0,0,0,0
4,CO-094334,1,0,0.0,0.0,1.0,1,13.76,1.17,NaN,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,CO-094842,1,0,0.0,0.0,0.0,1,111.40,1.25,NaN,...,1,0,0,0,1,0,0,1,1,0
95,CO-094841,1,0,0.0,0.0,0.0,1,111.40,1.25,NaN,...,1,0,0,0,1,0,0,1,1,0
96,CO-094836,1,0,0.0,0.0,0.0,1,111.40,0.00,NaN,...,1,0,0,0,1,0,0,1,1,0
97,CO-093631,1,0,1.0,0.0,0.0,0,9.50,3.00,[Hunger & Homelessness ],...,1,0,0,0,0,0,0,1,0,0
98,CO-094454,1,0,0.0,1.0,0.0,0,4.00,2.00,[Hunger & Homelessness ],...,0,0,0,0,0,0,0,0,0,0

In [36]:
## Build Transform matrix
transform_mat = np.random.rand(len(cats),len(feature))

array([[0.25968229, 0.92455361, 0.76938346, 0.26120322, 0.62753331,
        0.05897312, 0.66394635, 0.9349879 , 0.69461099, 0.23594267,
        0.07207483, 0.5012181 , 0.44316127, 0.93233181, 0.4606958 ,
        0.88090778, 0.82928798, 0.55052581, 0.35188593, 0.50306667,
        0.40992502, 0.00430385, 0.48068538, 0.8053306 , 0.77078175,
        0.01638356, 0.7193655 , 0.33922523, 0.29564595],
       [0.00107204, 0.16734522, 0.09187549, 0.52224453, 0.62790763,
        0.9856143 , 0.39779045, 0.49917642, 0.61044694, 0.91551141,
        0.79522106, 0.75073363, 0.3574355 , 0.52153853, 0.91084837,
        0.54218366, 0.08469506, 0.85422901, 0.549461  , 0.40148324,
        0.45180037, 0.54874458, 0.53598842, 0.51601027, 0.33804328,
        0.00270112, 0.7487324 , 0.75626458, 0.98258194],
       [0.49281386, 0.63541092, 0.7805121 , 0.59886303, 0.39327376,
        0.65987884, 0.15693245, 0.84413459, 0.94915298, 0.04026341,
        0.7938604 , 0.9589367 , 0.15980504, 0.0044164 , 0.69567202,
        0.84527526, 0.60597673, 0.59236364, 0.31570824, 0.443447  ,
        0.00165378, 0.44773813, 0.81437453, 0.62052795, 0.25484426,
        0.17861193, 0.64354439, 0.21438866, 0.39690339],
       [0.25621512, 0.69206579, 0.1159533 , 0.74636002, 0.58466889,
        0.00525855, 0.45231881, 0.39314009, 0.74483579, 0.11989204,
        0.51613724, 0.49087034, 0.20874989, 0.65151595, 0.58908919,
        0.39606888, 0.26443822, 0.93596129, 0.40055238, 0.79761844,
        0.98714854, 0.70910576, 0.4884412 , 0.5090356 , 0.70423568,
        0.70076126, 0.39837811, 0.20929743, 0.92883421],
       [0.35812609, 0.4481656 , 0.35562454, 0.56151282, 0.38903866,
        0.58929456, 0.21371494, 0.51909954, 0.54174098, 0.0295412 ,
        0.25150912, 0.2554266 , 0.67780598, 0.72190077, 0.2084863 ,
        0.29390372, 0.6422806 , 0.8433451 , 0.76422522, 0.27200498,
        0.65809978, 0.98689224, 0.25874944, 0.73242309, 0.85744696,
        0.2536922 , 0.11344221, 0.76880871, 0.21493058],
       [0.53001515, 0.57485315, 0.47687908, 0.9670456 , 0.32092664,
        0.15539664, 0.51767985, 0.62380409, 0.81400097, 0.13482925,
        0.88770931, 0.55324213, 0.24495129, 0.29460474, 0.34447641,
        0.13343451, 0.04081877, 0.69758551, 0.11897982, 0.29197364,
        0.58815989, 0.96337502, 0.91244785, 0.65517158, 0.63914916,
        0.32978877, 0.14471377, 0.6260242 , 0.09688519],
       [0.35452545, 0.8097165 , 0.79889835, 0.43344807, 0.40129703,
        0.59798406, 0.48067962, 0.53124327, 0.6773347 , 0.35658854,
        0.58248497, 0.13122223, 0.8793137 , 0.58211387, 0.59158447,
        0.12121571, 0.65755055, 0.64134767, 0.27866357, 0.89216091,
        0.73628579, 0.40714624, 0.22295601, 0.40543288, 0.71216512,
        0.12574969, 0.23390645, 0.65207446, 0.42767552],
       [0.33653986, 0.7885879 , 0.60572268, 0.41026555, 0.43316896,
        0.14417212, 0.20759235, 0.76550163, 0.72095272, 0.95982389,
        0.63996079, 0.26560489, 0.46977199, 0.60306362, 0.82336435,
        0.79240236, 0.69254028, 0.72195621, 0.30755233, 0.87742815,
        0.12586165, 0.17167201, 0.7396288 , 0.96634387, 0.11266994,
        0.88341393, 0.71723495, 0.69682837, 0.96518299],
       [0.55249426, 0.52746989, 0.33463612, 0.62690041, 0.27530046,
        0.85418312, 0.07038871, 0.82159472, 0.59354093, 0.85502405,
        0.06299205, 0.70070812, 0.42867694, 0.45559803, 0.11501855,
        0.86783492, 0.55747688, 0.73536005, 0.39389563, 0.92337505,
        0.7014183 , 0.26798509, 0.85005087, 0.40675262, 0.43465258,
        0.79724965, 0.45440973, 0.07412005, 0.44817845],
       [0.99032892, 0.55190229, 0.43245961, 0.38599845, 0.09752221,
        0.41490819, 0.90370829, 0.94520926, 0.78977863, 0.17475736,
        0.97772239, 0.61860159, 0.76966273, 0.7592079 , 0.75274579,
        0.21521839, 0.07533523, 0.39942277, 0.78953603, 0.47021533,
        0.4679879 , 0.32535128, 0.92137722, 0.47137672, 0.28371323,
        0.08257218, 0.9728341 , 0.31831097, 0.03514374],
       [0.93004493, 0.1497903 , 0.45854698, 0.20510786, 0.31810491,
        0.83112028, 0.94129349, 0.60970377, 0.83345756, 0.39190249,
        0.73907077, 0.24545226, 0.68561257, 0.13499329, 0.96492321,
        0.37278639, 0.01196283, 0.32912475, 0.74482588, 0.12273706,
        0.2615072 , 0.46854711, 0.10262621, 0.42271627, 0.23605395,
        0.19202444, 0.39442335, 0.47846417, 0.64071448],
       [0.80083927, 0.82942791, 0.19916133, 0.38129461, 0.78311946,
        0.02269629, 0.72890297, 0.09180105, 0.73266089, 0.00361753,
        0.7232846 , 0.5536902 , 0.40523931, 0.57778638, 0.2202142 ,
        0.10480622, 0.2103415 , 0.29582326, 0.12010055, 0.58276738,
        0.26880622, 0.44693589, 0.06939847, 0.10173236, 0.79314007,
        0.39925967, 0.40373091, 0.58072648, 0.23626774],
       [0.6342729 , 0.62037182, 0.72219866, 0.24425857, 0.89177716,
        0.22461448, 0.15409143, 0.32556787, 0.62459246, 0.92614657,
        0.62162057, 0.86854348, 0.12567338, 0.1822184 , 0.89654785,
        0.4862357 , 0.10016696, 0.6132054 , 0.95088079, 0.14546887,
        0.20896712, 0.07464628, 0.02116669, 0.92735697, 0.28356629,
        0.25468228, 0.12109835, 0.95423341, 0.72460945],
       [0.89329118, 0.17390824, 0.02649116, 0.6667448 , 0.55495911,
        0.08655586, 0.62034969, 0.86592897, 0.32181282, 0.09164413,
        0.33677481, 0.64909581, 0.99130692, 0.96738407, 0.67578219,
        0.52452512, 0.35026734, 0.9395206 , 0.3349651 , 0.3057845 ,
        0.54360983, 0.94618145, 0.9460198 , 0.93094868, 0.70437676,
        0.27987874, 0.80778147, 0.48958333, 0.84888317],
       [0.16014322, 0.92796657, 0.20752962, 0.35209623, 0.84952215,
        0.04566197, 0.96298953, 0.5212338 , 0.64005301, 0.15096107,
        0.21080188, 0.84963699, 0.02110277, 0.19671395, 0.68547847,
        0.65807365, 0.59879784, 0.88234833, 0.90392282, 0.2418214 ,
        0.87084729, 0.50488507, 0.31872009, 0.51466334, 0.67106348,
        0.13249189, 0.07535942, 0.13478514, 0.64356739],
       [0.29627075, 0.43831336, 0.13960077, 0.56914699, 0.31893999,
        0.51639089, 0.42686911, 0.59931715, 0.24407526, 0.39180958,
        0.28485554, 0.10753756, 0.67794083, 0.08271735, 0.27019252,
        0.95662097, 0.66047342, 0.72413996, 0.35891258, 0.97108835,
        0.14623787, 0.8667422 , 0.85309339, 0.82220945, 0.53136696,
        0.28379411, 0.88809695, 0.68971307, 0.34548754],
       [0.65681035, 0.19951342, 0.48787853, 0.68966483, 0.52619262,
        0.46765583, 0.58770356, 0.16386465, 0.17944335, 0.46774447,
        0.25072514, 0.7950466 , 0.83426077, 0.93680467, 0.70901949,
        0.9994523 , 0.67425249, 0.89853933, 0.30519442, 0.43557868,
        0.05499929, 0.51873444, 0.60650317, 0.76843855, 0.1005202 ,
        0.69723608, 0.5774554 , 0.51451464, 0.45358226],
       [0.01774064, 0.03401413, 0.87694089, 0.40544958, 0.95954445,
        0.30841713, 0.75931566, 0.65892174, 0.17687479, 0.22836766,
        0.35460901, 0.23288637, 0.84001305, 0.5303564 , 0.04622772,
        0.41425275, 0.30893463, 0.34989765, 0.35194722, 0.31578065,
        0.10327239, 0.22308917, 0.82172615, 0.65984102, 0.39327121,
        0.56561024, 0.98165824, 0.62452604, 0.45466882],
       [0.29836209, 0.02846241, 0.38392004, 0.02622142, 0.03275759,
        0.47950424, 0.20112041, 0.93383924, 0.12567513, 0.41567926,
        0.70585257, 0.66898711, 0.24675524, 0.59946061, 0.81167537,
        0.65971235, 0.3166463 , 0.70507113, 0.33532012, 0.02042622,
        0.05282518, 0.51636047, 0.26846142, 0.40036176, 0.01294064,
        0.73609249, 0.55148956, 0.86892303, 0.75246253],
       [0.53743658, 0.21290429, 0.77684587, 0.11551775, 0.38759414,
        0.56752779, 0.62921005, 0.75165857, 0.71094513, 0.49162067,
        0.27550777, 0.11068933, 0.20952278, 0.59001498, 0.44405313,
        0.6563425 , 0.79529213, 0.17662115, 0.16314176, 0.92560425,
        0.23623912, 0.17520328, 0.9538278 , 0.59479787, 0.96189955,
        0.98869544, 0.29995178, 0.33968707, 0.50034196]])

In [ ]:
## Generate prediction result
for i in range(len(user_matrix)):
    pred_result_one = np.multiply(transform_mat,np.array(user_matrix.iloc[i].drop('connection_id')))
    highest_three_one =